.App {
  text-align: center;
}

img {
  padding: 10px;
}

body {
  background-color: rgb(148, 184, 187);
}

.app__form {
  padding: 10px;
  position: fixed;
  bottom: 50px;
  z-index: 1; 
  background: rgb(219,181,198);
  background: radial-gradient(circle, rgba(219,181,198,1) 0%, rgba(66,124,191,1) 100%);
  border-radius: 10px;
  width: 100%;
}